body{
background-color:wheat;
}
.card_main{
  width: 450px;
  height: 550px;
  background-color: #8A8DBA;
  padding: 50px 30px;
  position: absolute;
  transform: translate(100%, 5%);
  /* transform: translate(20%, 5%); */
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.card_header input{
  width: 80%;
   background-color: #ecec;
  padding: 2rem;
  border-radius: 1.5rem;
  font-size: 20px;
  border: none;
  outline: none;
}



 button{
  font-size: 18px;
  width: 90px;
  height: 50px;
  margin: 2rem 0.5rem -0.5rem 0.8rem;
  padding: 2rem;
  cursor: pointer;
}

button:hover{
  background-color: rgb(237, 229, 218);
  border: none;
  outline: none;
}